<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">KieranDotCo Dencoder</a>
</nav>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <textarea class="dencoder-textarea" [(ngModel)]="dencoder.original" placeholder="Enter the value to be encoded/decoded"></textarea>
    </div>
    <div class="col-md-6">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-decoded-tab" role="tab" aria-controls="nav-decoded" (click)="setActiveTab('decoded')" [ngClass]="{ active: dencoder.tab == 'decoded' }">Decoded</a>
          <a class="nav-item nav-link" id="nav-encoded-tab" role="tab" aria-controls="nav-encoded" (click)="setActiveTab('encoded')" [ngClass]="{ active: dencoder.tab == 'encoded' }">Encoded</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-decoded" role="tabpanel" aria-labelledby="nav-decoded-tab" [ngClass]="{ active: dencoder.tab == 'decoded', show: dencoder.tab == 'decoded' }">
          <br/>
          <div class="alert alert-warning" role="alert" *ngIf="dencoder.original == ''">
              Please enter a value to be decoded.
          </div>
          <pre>{{ dencoder.original | decode }}</pre>
          <button [copyText]="(dencoder.original | decode)" class="btn btn-light">Copy Decoded</button>
        </div>
        <div class="tab-pane fade" id="nav-encoded" role="tabpanel" aria-labelledby="nav-encoded-tab" [ngClass]="{ active: dencoder.tab == 'encoded', show: dencoder.tab == 'encoded' }">
            <br/>
            <div class="alert alert-warning" role="alert" *ngIf="dencoder.original == ''">
                Please enter a value to be encoded.
            </div>
          <pre>{{ dencoder.original | encode }}</pre>
          <button [copyText]="(dencoder.original | encode)" class="btn btn-light">Copy Encoded</button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-primary">
  <a class="text-white" href="https://meyerweb.com/eric/tools/dencoder/">Inspired by meyerweb URL Decoder/Encoder</a>
</nav>